<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__left">
        <h2 class="about__title title">о салоне</h2>
        <p class="about__descr descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae molestias dolores doloribus ratione asperiores possimus in architecto delectus rerum animi dignissimos, quidem quas corrupti repellendus maxime? Libero, quaerat. Quis, necessitatibus?</p>
        
        <p class="about__descr descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae molestias dolores
        doloribus ratione asperiores possimus in architecto delectus rerum animi dignissimos.</p>
      </div>
      <div class="about__right">
        <img src="../img/about.jpg" alt="Фото салона">
        <span class="about__right-play">
          <span>
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </span>
        </span>
      </div>
    </div>
  </div> 
  <div class="about__advent">
    <div class="container">
      <ul class="about__list list-reset">
        <li class="about__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#address"></use>
          </svg>
          <span class="about__list-descr descr">Удобное расположение</span>
        </li>
        <li class="about__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#premium"></use>
          </svg>
          <span class="about__list-descr descr">Сертифицированное и профессиональное оборудование</span>
        </li>
        <li class="about__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#medal"></use>
          </svg>
          <span class="about__list-descr descr">Награды и сертивикаты качества</span>
        </li>
        <li class="about__item">
          <svg class="">
            <use xlink:href="img/sprite.svg#card"></use>
          </svg>
          <span class="about__list-descr descr">Опдата всеми средствами</span>
        </li>
        </ul>
      </div>
    </div>
  </section>