<!-- <header class="header header--main">
  <div class="container header__container">

    <a href="#" class="header__logo">
      <img src="img/logo.svg" alt="logo">
    </a>

    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Services</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Work</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">News</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header__contacts">
      <a class="header__contacts-link header__contacts-link--call" href="tel:4055550128">
        <span class="header__contacts-link-caption">Call us</span>
        <span class="header__contacts-link-value">(405) 555-0128</span>
      </a>

      <a class="header__contacts-link header__contacts-link--mail" href="mailto:hello@createx.com">
        <span class="header__contacts-link-caption">Talk to us</span>
        <span class="header__contacts-link-value">hello@createx.com</span>
      </a>
    </div>

  </div>
</header> -->

<header class="header">
  <div class="header__top">

    <div class="container top-container">
      <ul class="header__social list-reset">
        <li class="header__social-item">
          <a href="" class="header__social-link" aria-label='WhatsApp'>
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="" class="header__social-link" aria-label='WhatsApp'>
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
  
      <div class="header__contacts">
        <a class="header__contacts-link " href="tel:4055550128">
         <svg class="">
           <use xlink:href="img/sprite.svg#phone"></use>
         </svg>
         <span>(405) 000-0000</span> 
         </a>
  
        <a href="https://www.google.com" target="_blank" class="header__contacts-link">Poland, Krakow 22</a>

        <span class="header__contacts-link">
          Пн-Сб: 10:00-19:00; Нд: 10:00-15:00
        </span>
      </div>
    </div>
  </div>

    <div class="container"> 
      <div class="header__bottom">
  
        <a href="#" class="header__logo">
          <span class="header__logo-span"><span>JZ</span></span>
          <!-- <img src="img/logo.svg" alt="logo"> -->
        </a>
  
        <nav class="nav">
          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a href="#" class="nav__link">О нас</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Ценник</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Галерея</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>
          </ul>
        </nav>

        <button class="btn-reset btn  btn--stroke-light">онлайн запись</button>
  
      </div>
    </div>
  
</header>
