<section class="services">
  <div class="container">
    <div class="services__top">
      <h2 class="title title--center">Наши услуги</h2>
      <p class="services__descr  descr descr--center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, totam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, totam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, totam!
      </p>
    </div>
    <div class="services__price">
      <ul class="services__price-item price list-reset">
        <li class="price__item">
          <h5 class="price__subtitle descr">Наращивание</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem ipsum dolor sit amet.</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum.3</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum.3</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum.3</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
      </ul>
      <ul class="price services__price-item list-reset">
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem ipsum dolor sit.</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum.</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum dolor.</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum dolor.</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
        <li class="price__item">
          <h5 class="price__subtitle descr">Lorem, ipsum dolor.</h5>
          <div class="price__dots"></div>
          <div class="price__value">от <span>1000</span>руб</div>
        </li>
      </ul>
    </div>
  </div>
</section>