:root {

  // colors
  --color-black: #000;
  --color-light: #fff;
  --color-gray: #888888;
  //--color-primary: #c300c3;
  //--color-primary: #d46cf2;
  --color-primary: #ff7ca4;
  --color-gold : #d0a37c;
}
